* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Jacquard 12", sans-serif;
}

.container {
  height: 100vh;
  background-color: #b6cda6;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.container a {
  font-size: 30px;
  color: rgb(63, 63, 255);
}

.container a:hover {
  cursor: pointer;
  color: blue;
}

.container a:active {
  color: rgb(63, 63, 255);
}

.btn {
  border: 2px solid black;

  font-size: 40px;
  border-radius: 8px;
  padding: 30px 20px;

  background-image: url(img/ekran-goruntusu-2024-05-24-115815.webp);
  background-position: 0 -15px;
  background-size: cover;
  background-repeat: no-repeat;
}

.btn:hover,
.btn:active {
  cursor: pointer;
  color: white;
  border: 2px solid white;
  transition: all 0.3s;
}
.small-btn {
  border: 2px solid black;

  font-size: 20px;
  border-radius: 8px;
  padding: 10px 5px;

  background-image: url(img/ekran-goruntusu-2024-05-24-115815.webp);
  background-position: 0 -8px;
  background-size: cover;
  background-repeat: no-repeat;

  display: none;
}

.small-btn:hover,
.small-btn:active {
  cursor: pointer;
  color: white;
  border: 2px solid white;
  transition: all 0.3s;
}

.alt-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

iframe {
  height: 600px;
  width: 600px;
}
