* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Montserrat", sans-serif;

  color: #f1f1f1;
}

.background {
  height: 100vh;
  background: linear-gradient(to top, #383838, #434343);
}

header {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.sort-options {
  display: flex;
  gap: 16px;
  margin-left: 16px;
  align-items: center;
}

.btn {
  background-color: #434343;
  border: 1.5px solid;
  border-radius: 6px;
  padding: 6px 8px;
  color: rgb(0, 129, 222);
  transition: box-shadow 0.3s;
}

.btn:hover,
.btn:active {
  box-shadow: 0 0 20px 5px rgb(0, 129, 222);
  color: rgb(112, 196, 255);
  cursor: pointer;
}

.new-array-btn {
  color: rgb(1, 181, 201);
  font-size: 14px;

  transition: box-shadow 0.3s;
}

.new-array-btn:hover,
.new-array-btn:active {
  box-shadow: 0 0 50px 15px rgb(1, 181, 201);
  color: rgb(148, 243, 254);
  cursor: pointer;
}

.slider {
  position: relative;
}

.slider::before {
  content: "";
  position: absolute;
  left: -8px;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #ccc;
}

.sort-buttons {
  display: flex;
  gap: 8px;
}

.sort-buttons:last-child {
  margin-right: 8px;
}

.visualizer-section {
  display: flex;
  justify-content: center;
}

.visualizer-div {
  margin-top: 20px;
  height: 450px;
  width: 700px;
  overflow: hidden;
  display: flex;
  gap: 2px;
}

.bar {
  background-color: yellow;
}
